:root {
    --main-color: #eee3c7;
    --seconed-color: #455C56;
    --font-title: 'Dancing Script', cursive;
    --main-font: 'Hind', sans-serif;
}

* {
    box-sizing: border-box;
    direction: ltr;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.overlay-left,  .overlay-right,  .overlay-top,  .overlay-bottom{
    background-color: var(--seconed-color) !important;
}


/*this slien box css code make global in five section*/

.silentbox-item {
    max-height: 145px;
    border-radius: .5rem;
    margin-right: 1rem;
    overflow: hidden;
    border: 1px solid var(--main-color);
    transition: 0.3s ease-in-out;
}

.silentbox-item img {
    transition: 0.3s;
}

.silentbox-item:hover img {
    transition: 0.3s ease-in-out;
    transform: scale(1.2);
}